table {
	margin: .75rem 0;
	padding: 0;
	
	border-collapse: collapse;
}

table tr {
	margin: 0;
	padding: 0;
	
	border-top: 1px solid #ccc;
}


table tr th {
	margin: 0;
	padding: .35em .75em;
	
	font-weight: bold;
	text-align: left;
	
	border: 1px solid #ccc;
}

table tr td {
	margin: 0;
	padding: .35em .75em;
	
	text-align: center;
	
	border: 1px solid #ccc;
}
